<% include header %>
<head>
  

<link rel ="stylesheet" type="text/css" href="/css/access_c.css"  />

</head>
<body>
  
<div class="container">
  <form id="form1" method="post" action="/access_mail">
  <h2>Email the access code for registration</h2>
  Enter email address:<br>
  <div class="form-group">
  <input class="form-control" type="text" name="email1" id="email1"></div>
  <input type="submit" value="Submit" class="btn btn-primary">
</form>
</div>
</body>