<% include header %>
<head>
  

<link rel ="stylesheet" type="text/css" href="/css/access_c.css"  />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

  <div class="container"id="abc">
  <form id="form1" method="post" action="/access_mail">
  <h2>Email the access code for registration</h2>
  Enter email address:<br></div>
  <br>
  <div class="col-md-10">
      <div class="col-md-4">
  
        <i id="mn"style="font-size:24px" class="fa">&#xf0e0;</i></div>
        <div class="col-md-6" id="mapy">
  <input class="form-control" type="text" name="email1" id="email1"></div></div>
  <input id="xyz" type="submit" value="Submit" class="btn btn-primary">
</form>

</body>