<% include header %>
<head>
  

<link rel ="stylesheet" type="text/css" href="/css/Basic_info.css"  />

</head>
<body>
  
<div class="container">
  <form id="form1" method="post" action="/mail">
  <h2>Email basic information collection form</h2>
  Enter email address:<br>
  <div class="form-group">
  <input class="form-control" type="text" name="email1" id="email1"></div>
  <input type="submit" value="Submit" class="btn btn-primary">
</form>
</div>
</body>
    
    <!-- <div id="eml">
    <div class="b"><input type="submit" class="btn btn-primary" value="Submit"> </div>
    </form><br>
    <br>
    <div id="eml">
    <form id="form1" method="post" action="/mail">
    <p>Email This form</p>
    Enter email address:<br>
    <div class="form-group">
    <input class="form-control" type="text" name="email1" id="email1"></div>
    <input type="submit" value="Submit" class="btn btn-primary">
  </form>-->
