<!DOCTYPE html>
<html>

  <head>
    <link type="text/css"
    rel="stylesheet"
    href="../Assets/css/Test.css" />
    <title>Test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../Assets/js/Test.js"></script>
  </head>

  <body class="body">
        <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">NWMSU</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#"><span class="glyphicon glyphicon-home">
                      </span> &nbsp; Home</a></li>
      <li><a href="#">Rentals</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Find
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Performer Name</a></li>
          <li><a href="#">play</a></li>
          <li><a href="#">date</a></li>
        </ul>
      </li>
      <li><a href="Basic_info.html">Basic Information form</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="SIgnup_Login.html"><span class="glyphicon glyphicon-log-out">
                  </span> Log Out &nbsp; &nbsp;</a></li>
    </ul>
  </div>
</nav>
<div class="container">
<form action="#">
    First name:<br>
    <input type="text" name="firstname">
    <br>
    Last name:<br>
    <input type="text" name="lastname"><br>
    Character Name:<br>
    <input type="text" name="charactername"><br>
    Phone Number:<br>
    <input type="text" name="phonenumber"><br>
    May we text you?<br>
    <input type="radio" name="textchoice" value="yes"> Yes<br>
    <input type="radio" name="textchoice" value="no"> No<br>
    University email Address:<br>
    <input type="text" name="email"><br>
    "I understand that I must check my Northwest student email DAILY as requests for fitting appointments will be sent to that email. I will respond to a fitting request as soon as possible. I understand that failing to check my university email does not excuse me from missing a fitting appointment. Missed appointments will be rescheduled at the discretion of the Costume Shop."<br>
    <input type="checkbox" name="agreement" value="iagree"> Yes, I understand.<br>
    Dominant Hand: <br>
    <input type="checkbox" name="dominanthand" value="right"> Right<br>
    <input type="checkbox" name="dominanthand" value="left"> Left<br>
    Height:<br>
    <input type="text" name="heught"><br>
    Estimated Weight: <br>
    <input type="text" name="estimatedweight"><br>
    Corrective Eyewear:<br>
    <input type="radio" name="eyewearchoice" value="none"> None<br>
    <input type="radio" name="eyewearchoice" value="glasses"> Glasses<br>
    <input type="radio" name="eyewearchoice" value="contacts"> Contacts<br>
    <input type="radio" name="eyewearchoice" value="withoutglasses"> I wear glasses but can perform without them<br>
    Hair color and length:<br>
    <input type="text" name="hair"><br>
    Facial Hair: color, length, and growth time:<br>
    <input type="text" name="facialhai"><br>
    I understand that I may not permanently change the color, length, or style of my hair between casting and performance without the express permission of both the Costume Designer and Artistic Director.<br>
    <input type="checkbox" name="hairagreement" value="iagree"> Yes, I understand.<br>
    Do you have pierced ears?<br>
    <input type="radio" name="earschoice" value="yes"> Yes<br>
    <input type="radio" name="earschoice" value="no"> No<br>
    Do you have any other piercings? How many and where?<br>
    <input type="text" name="otherpiercings"><br>
    Do you have any tattoos?<br>
    <input type="text" name="tattoos"><br>
    "I understand that if I have tattos I must provide my own tattoo cover makeup if asked. I understand that if I have piercings I may be asked to remove them or provide my own clear spacer during performances. I understand that I am not allowed to permanently alter my body with additional tattoos, piercings, etc. between casting and performance."<br>
    <input type="checkbox" name="tattooagreement" value="iagree"> Yes, I understand.<br>
    COMMENTS ABOUT THE BODY (OR COSTUME) OF ANY PERFORMER (YOURSELF INCLUDED) WILL NOT BE TOLERATED FROM ANY PERFORMER OR MEMBER OF THE PRODUCTION STAFF.<br>
    <input type="text" name="comments"><br>
    Shoes: <br>
    <input type="text" name="shoes"><br>
    Dance Shoes: Size and Type<br>
    <input type="text" name="danceshoes"><br>
    Shirt <br>
    <input type="checkbox" name="shirtsize" value="xs"> XS.<br>
    <input type="checkbox" name="shirtsize" value="s"> S.<br>
    <input type="checkbox" name="shirtsize" value="l"> L.<br>
    <input type="checkbox" name="shirtsize" value="xl"> XL.<br>
    <input type="checkbox" name="shirtsize" value="xxl"> XXL.<br>
    <input type="checkbox" name="shirtsize" value="xxxl"> XXXL.<br>
    <input type="checkbox" name="shirtsize" value="xxxxl"> XXXXL.<br>
    <input type="checkbox" name="shirtsize" value="other"> Other.<br>
    Pants <br>
    <input type="text" name="pants"><br>
    Bra size
    <input type="text" name="brasize"><br>
    Ring<br>
    <input type="text" name="ring"><br>
    Are you allergic to any of the following?<br>
    <input type="checkbox" name="allergy" value="Fabric/fiber"> Fabric/fiber.<br>
    <input type="checkbox" name="allergy" value="Detergent"> Detergent.<br>
    <input type="checkbox" name="allergy" value="Environmental"> Environmental.<br>
    <input type="checkbox" name="allergy" value="Fragrance"> Fragrance.<br>
    <input type="checkbox" name="allergy" value="Metal"> Metal.<br>
    <input type="checkbox" name="allergy" value="No allergies"> No allergies.<br>
    <input type="checkbox" name="allergy" value="Other"> Other: <input type="text" name="other"><br><br>
    If you have allergies, please give specific details here.<br>
    <input type="text" name="allergies"><br>
    <br><br>
    <h2>Physical Limitations</h2>
    <p>If you have any illness, injury, prosthesis, or physical limitation that might affect the comfort or fit of your costume, please discuss this privately with the costume designer. Some examples:</p>
    <ul>
        <li>knee brace</li>
        <li>scoliosis</li>
        <li>asymmetry (one limb significantly longer or larger than the other)</li>
        <li>arthritis/dexterity problems</li>
        <li>need specific undergarments for comfort or modesty</li>
        <li> prefer compression tights</li>
        <li>use of prosthesis</li>
        <li>use of mobility aid</li>
        <li>unable to sweat/regulate body temperature</li>
        <li>need sweatguards</li>
        <li>specific shoe style needed</li>
    </ul>
    <p>Please only disclose as much information as you are comfortable with and is relevant to the fit and comfort of your costume. This will insure that the costume designer can make you look your best!</p>

    
    </form>
    <div id="eml">
    <form>
    <p>Email This form</p>
    Enter email address:<br>
    <input type="text" name="email"><br><br>
    <input type="submit" value="Submit">
  </form>
  </div>
  </div>
</body>
