<% include header %>
<!--      
<script>
// Initialize and add the map
function initMap() {
// The location of Uluru
var uluru = { lat: 40.352089, lng: -94.882797 };
// The map, centered at Uluru
var map = new google.maps.Map(
document.getElementById('map'), { zoom: 14, center: uluru });
// The marker, positioned at Uluru
var marker = new google.maps.Marker({ position: uluru, map: map });
}
</script> 
 <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQGG7KYapHqWGgANwDEj7NRCwGALOAuc4&callback=initMap"> </script> -->
  
  <link rel ="stylesheet" 
  type="text/css" 
  href="/css/contact.css"  />

<body>
  </div>
  <div class="mapouter">
    <div class="gmap_canvas">
      <iframe width="1080" height="688" id="gmap_canvas" src="https://maps.google.com/maps?q=ron%20houston%20centre&t=&z=13&ie=UTF8&iwloc=&output=embed"  frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
      <a href="https://www.embedgooglemap.net"></a></div>
     </div>


</div>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/css/jorandby.jpg" alt="Jane" style="width:50%">
      <div class="container">
        <h2>Stephanie Jorandby<h4>(Assistant Professor)</h4></h2>
        <h4>Office: 17 Houston</h4>
        <h4>Phone: 660.562.1503</h4>
              <p><button class="button">stephi@nwmissouri.edu</button>
        </div>
      </div>
    </div>
 

</div>
</body>