<!DOCTYPE html >
<html>
    <head>
        <title>Contact Form </title>
        <link rel ="stylesheet" 
        type="text/css" 
        href="find.css" />
        </head>
        <body class = "contact">
                <h1>Contact Form</h1>
                <h3> Name (Last, First) *</br></h3>
                <input type="text" id="id1" name="text1"><br><br>
                <h3> Email *</br></h3>
                <input type="text" id="id2" name="text2"><br><br>
                <h3>Phone Number *</br></h3>
                <input type="text" id="id3" name="text3"><br><br>
                <h3>Subject* </br></h3>
                <input type="text" id="id4" name="text4"><br><br>
                <h3>Let us know how we can help  *</br></h3>
                <input type="text" id="id5" name="text5"><br><br>
                
