<% include header %>
<head>
<link rel ="stylesheet" 
type="text/css" 
href="/css/findperformer.css"  />
</head>
<body>
  
        <div class="row">
                <div class="column">
                  <p>Find by performer name</p>
                 
                </div>
                <div class="column" >
                    <form>
                   <input type="text" name="search" placeholder="Search..">
                    </form>
                </div>
              </div>
  
</body>
