<% include header %>
<head>
<link rel ="stylesheet" type="text/css" href="/css/findperformer.css"  />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
       
                  <p>Find by play date</p>
                 
                  <form class="example" method="POST" action="/FormController/getByDate" style="margin:auto;max-width:300px">
                    <input type="date" placeholder="Search.." name="playdate">
                    <button type="submit"><i class="fa fa-search"></i></button>
                  </form>
                  </div>
  
</body>
