<% include header %>
<head>
<link rel ="stylesheet" type="text/css" href="/css/finddate.css"  />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
              <div class="col-md-10">
                      <div class="col-md-3">
                    <div class="container">
                                <p>Find by play date</p>
                               
                                <div id="move">
                                  <form class="example" method="POST" action="/FormController/getByDate" >
                                    <input  type="date" placeholder="Search.." name="playdate" style="margin:auto;max-width:300px">
                                    <button   type="submit"><i class="fa fa-search"></i></button>
                                  </form>
                
                    <br>
                    <br>
                  </form>
                  </div>
                  </div>
                  </div>
                  <div class="col-md-3">
                    <img  src="/css/fix.jpg" alt="Jane"height="300px" width="500px" >
                  </div>
                           
                </div>
</body>
