<% include header %>
<head>
<link rel ="stylesheet" 
type="text/css" 
href="/css/findperformer.css"  />
</head>
<body>
  
<div class="container">
    
  <h2>Find by play date</h2>
  <form>
        <input type="text" name="search" placeholder="Search..">
      </form>
 
  </div>
  
</body>