<% include header %>
<head>
<link rel ="stylesheet" type="text/css" href="/css/finddate.css"  />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
                  <div class="col-md-10">
                      <div class="col-md-3">
                    <div class="container">
                                <p>Find by play name</p>
                               
              <div id="move">
                               
                  <form class="example" method="POST" action="/FormController/getByPlay" style="margin:auto;max-width:300px">
                    <input type="text" placeholder="Search.." name="playname">
                    <button type="submit"><i class="fa fa-search"></i></button>
                  </form>
                                </div>
              
                              </div>
                    </div>
                  
                                <div class="col-md-3">
               
                               
                                <img src="/css/play.jpg" alt="Jane"height="300px" width="500px" >
                           </div>
                           
                  </div>
  
</body>
