<html>
<head>
<title>Stephi_Designer_App</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../assets/js/Test.js"></script>
<link rel ="stylesheet" type="text/css" href="/css/Basic_info.css"  />
</head>
<body>
    <div class="k">
<h2>Basic information form</h2>
<br>
<form name ="form" method ="POST" action="/FormController/save" onsubmit="return validateMayWeTextYou()">
    <div class="form-group">
    First name:<br>
    <input class="form-control"  type="text" name="firstname" placeholder="Please enter your firstname" required>
  </div>
    <div class="form-group">
    Last name:<br>
    <input class="form-control" type="text" name="lastname" placeholder="Please enter your lastname" required>
  </div>
  <div class="form-group">
    Play name:<br>
    <input class="form-control"  type="text" name="playname" placeholder="Please enter the play name" required>
  </div>
    <div class="form-group">
    Play date:<br>
    <input class="form-control" type="date" name="playdate" placeholder="Please enter the play date" required>
  </div>
  <div class="form-group">
    Character Name:<br>
    <input class="form-control" type="text" name="charactername" placeholder="Enter your Charactername" required>
  </div>
  <div class="form-group">
    Phone Number:<br>
    <input class="form-control" type="number" name="phonenumber" placeholder="Please enter your phonenumber" required>
  </div>
    May we text you?<br>
    <input id='CheckedYes' type="radio" name="textchoice" value="yes" > Yes<br>
    <input id='CheckedNo' type="radio" name="textchoice" value="no"> No<br><br>
    <div class="form-group">
    University email Address:<br>
    <input class="form-control" type="email" name="email1" placeholder="Enter your E-MAIL" required>
    </div>
    "I understand that I must check my Northwest student email DAILY as requests for fitting appointments will be sent to that email. I will respond to a fitting request as soon as possible. I understand that failing to check my university email does not excuse me from missing a fitting appointment. Missed appointments will be rescheduled at the discretion of the Costume Shop."<br>
    <input type="checkbox" name="agreement" value="iagree" required> Yes, I understand.<br><br>
    Dominant Hand: <br>
    <input type="checkbox" name="dominanthand" value="right" > Right<br>
    <input type="checkbox" name="dominanthand" value="left"> Left<br><br>
    <div class="form-group">
    Height:<br>
    <input class="form-control" type="text" name="heught" placeholder="Enter height in feet" required>
    </div>
    <div class="form-group">
    Estimated Weight: <br>
    <input class="form-control" type="number" name="estimatedweight" placeholder="Enter weight in pounds">
    </div>
    Corrective Eyewear:<br>
    <input type="radio" name="eyewearchoice" value="none" > None<br>
    <input type="radio" name="eyewearchoice" value="glasses"> Glasses<br>
    <input type="radio" name="eyewearchoice" value="contacts"> Contacts<br>
    <input type="radio" name="eyewearchoice" value="withoutglasses"> I wear glasses but can perform without them<br><br>
    <div class="form-group">
    Hair color and length:<br>
    <input class="form-control" type="text" name="hair" placeholder="Enter your Haircolor & Length" required><br>
    Facial Hair: color, length, and growth time:<br>
    <input class="form-control" type="text" name="facialhai" placeholder="Enter your Facialhair Color, Length & Growth time"required>
    </div>
    I understand that I may not permanently change the color, length, or style of my hair between casting and performance without the express permission of both the Costume Designer and Artistic Director.<br>
    <input type="checkbox" name="hairagreement" value="iagree" required> Yes, I understand.<br><br>
    Do you have pierced ears?<br>
    <input type="radio" name="earschoice" value="yes" > Yes<br>
    <input type="radio" name="earschoice" value="no"> No<br><br>
    <div class="form-group">
    Do you have any other piercings? How many and where?<br>
    <input class="form-control" type="text" name="otherpiercings" placeholder="Enter details of other piercing" required><br>
    Do you have any tattoos?<br>
    <input class="form-control" type="text" name="tattoos" placeholder="Enter details of tatoos" required>
    </div>
    "I understand that if I have tattos I must provide my own tattoo cover makeup if asked. I understand that if I have piercings I may be asked to remove them or provide my own clear spacer during performances. I understand that I am not allowed to permanently alter my body with additional tattoos, piercings, etc. between casting and performance."<br>
    <input type="checkbox" name="tattooagreement" value="iagree" required> Yes, I understand.<br><br>
    COMMENTS ABOUT THE BODY (OR COSTUME) OF ANY PERFORMER (YOURSELF INCLUDED) WILL NOT BE TOLERATED FROM ANY PERFORMER OR MEMBER OF THE PRODUCTION STAFF.<br>
    <div class="form-group">
    <input class="form-control" type="text" name="comments" required><br>
    Shoes: <br>
    <input class="form-control" type="text" name="shoes" required><br>
    Dance Shoes: Size and Type<br>
    <input class="form-control" type="text" name="danceshoes" required>
    </div>
    Shirt <br>
    <input type="checkbox" name="shirtsize" value="xs" > XS<br>
    <input type="checkbox" name="shirtsize" value="s"> S<br>
    <input type="checkbox" name="shirtsize" value="m"> M<br>
    <input type="checkbox" name="shirtsize" value="l"> L<br>
    <input type="checkbox" name="shirtsize" value="xl"> XL<br>
    <input type="checkbox" name="shirtsize" value="xxl"> XXL<br>
    <input type="checkbox" name="shirtsize" value="xxxl"> XXXL<br>
    <input type="checkbox" name="shirtsize" value="other"> Other<br><br>
    <div class="form-group">
    Pants <br>
    <input class="form-control" type="text" name="pants"><br>
    Bra size<br>
    <input class="form-control" type="text" name="brasize"><br>
    Ring<br>
    <input class="form-control" type="text" name="ring">
    </div>
    Are you allergic to any of the following?<br>
    <input type="checkbox" name="allergy" value="Fabric/fiber" > Fabric/fiber<br>
    <input type="checkbox" name="allergy" value="Detergent"> Detergent<br>
    <input type="checkbox" name="allergy" value="Environmental"> Environmental<br>
    <input type="checkbox" name="allergy" value="Fragrance"> Fragrance<br>
    <input type="checkbox" name="allergy" value="Metal"> Metal<br>
    <input type="checkbox" name="allergy" value="No allergies"> No allergies<br>
    <input type="checkbox" name="allergy" value="Other"> Other: <div class="form-group"><input class="form-control" type="text" name="other"></div>
    If you have allergies, please give specific details here.<br>
    <div class="form-group">
    <input class="form-control" type="text" name="allergies"></div><br>
    <br>
    <h2>Physical Limitations</h2>
    <p>If you have any illness, injury, prosthesis, or physical limitation that might affect the comfort or fit of your costume, please discuss this privately with the costume designer. Some examples:</p>
    <ul>
        <li>knee brace</li>
        <li>scoliosis</li>
        <li>asymmetry (one limb significantly longer or larger than the other)</li>
        <li>arthritis/dexterity problems</li>
        <li>need specific undergarments for comfort or modesty</li>
        <li> prefer compression tights</li>
        <li>use of prosthesis</li>
        <li>use of mobility aid</li>
        <li>unable to sweat/regulate body temperature</li>
        <li>need sweatguards</li>
        <li>specific shoe style needed</li>
    </ul>
    <p>Please only disclose as much information as you are comfortable with and is relevant to the fit and comfort of your costume. This will insure that the costume designer can make you look your best!</p>
    <div class="b"><input type="submit" value="Submit" class="btn btn-primary"></div>
     </form>
    </div>
</body>
