<!DOCTYPE html>
<html>

  <head>
    <title>Stephi_Designer_App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../assets/js/Test.js"></script>
    <link type="text/css" rel="stylesheet" href="../assets/css/Test.css" />
  </head>

  <body class="body">
    
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">NWMSU</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/home"><span class="glyphicon glyphicon-home"></span> &nbsp; Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Find</a>
        <ul class="dropdown-menu">
          <li><a href="/find">Performer Name</a></li>
          <li><a href="/findp">play</a></li>
          <li><a href="/fin">date</a></li>
        </ul>
      </li>
      <% if(user && (user.isAdmin || user.isManager)) { %>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Rentals</a>
        <ul class="dropdown-menu">
          <li><a href="/rental">Rental form</a></li>
          <li><a href="/rental_list">Rental list</a></li>
        </ul>
      </li>
      <li><a href="/basic">Send Basic Info form</a></li>
      <!-- <li><a href="rental_list">Rental list</a></li> -->
      <li><a href="/access"> Send Access Code</a></li>
      <% } %>
      <li><a href="/plays"> Plays</a></li>
      <li><a href="/contact"> Contact</a></li>
    </ul>
    <li class="pull-right">
     <a href="/users/logout" class="btn btn-danger navbar-btn" > Logout &nbsp; &nbsp;</a>
    </li>
  </div>
 </nav>
