.body{
    background-image: url("final1.jpg");
    background-size:100%;
    background-repeat: no-repeat;
   
}
marquee{
    font-size: 30px;
    color: rgb(14, 12, 12);
    padding-top:180px;
    font-family

}