<!DOCTYPE html>
<html>
<head>
<title>Actor Contact and Basic Information</title>
<link rel ="stylesheet" 
type="text/css" 
href="find.css" />
</head>
<body class = "information">
    <h1>Actor Contact and Basic Information</h1>
    <p>Please fill out the starred questions and submit this form BEFORE you come to the costume shop</br>
     to have your measurements taken. You MUST have a copy of this form on file before the shop staff</br>
      will measure you. Please have your schedule of availability ready when you arrive for </br>
      measurements.</p>
      <p> *Required</p>
      <p>
         <h3> Name (Last, First) *</br></h3>
          <input type="text" id="id1" name="text1"><br><br>
        <h3> Character Name *</br></h3>
          <input type="text" id="id2" name="text2"><br><br>
        <h3>Phone Number *</br></h3>
          <input type="text" id="id3" name="text3"><br><br>
        <h3>May we text you? *</br></h3>
          <input type="radio" id ="id4" name="yes" >Yes</input></br></br>
          <input type="radio" id ="id4" name="no" >No</input></br>
          <h3>University email address *</br></h3>
            <input type="text" id="id5" name="text5"><br><br>
            <h3>"I understand that I must check my Northwest student email</br> DAILY as requests for fitting appointments will be sent to that</br> email. I will respond to a fitting request as soon as possible.I </br>understand that failing to check my university email does not</br> excuse me from missing a fitting appointment. Missed</br> appointments will be rescheduled at the discretion of the</br> Costume Shop." *</br></h3>
            <input type="radio" id ="id6" name="nw" >Yes, I understand.</input></br></br>
            <h3>Dominant Hand *</br></h3>
            <input type="radio" id ="id7" name="right" >Right</input></br></br>
            <input type="radio" id ="id7" name="left" >Left</input></br></br>
            <h3>Height *</br></h3>
            <input type="text" id="id8" name="text8"><br><br>
            <h3>Estimated Weight *</br></h3>
            <input type="text" id="id9" name="text9"><br><br>
            <h3>Corrective Eyewear *</br></h3>
            <p>Please select all that apply</p>
            
            



           </body>
           </html>