<div id="lower" class="tab-pane fade">
    <form action="#" class="form-group">
        Waist Relaxed:&nbsp;&nbsp;
        <input class="form-control" type="text" name="waistrelaxed" placeholder="Enter measurement value"><br>
        Waist Expanded:&nbsp;&nbsp;
        <input class="form-control" type="text" name="waist expande" placeholder="Enter measurement value"><br>
        Full Hip:&nbsp;&nbsp;
        <input class="form-control" type="text" name="fullhip" placeholder="Enter measurement value"><br>
        Half Girth:&nbsp;&nbsp;
        <input class="form-control" type="text" name="halfgirth" placeholder="Enter measurement value"><br>
        Full Girth:&nbsp;&nbsp;
        <input class="form-control" type="text" name="fullgirth" placeholder="Enter measurement value"><br>
        Inseam to Ankle:&nbsp;&nbsp;
        <input class="form-control" type="text" name="inseamtoankle" placeholder="Enter measurement value"><br>
        Inseam to floor:&nbsp;&nbsp;
        <input class="form-control" type="text" name="inseamtofloor" placeholder="Enter measurement value"><br>
        Waist over Compression Garment&nbsp;&nbsp;
        <input class="form-control" type="text" name="waistovercompressiongarnment" placeholder="Enter measurement value"><br>
        Hip over Compression Garment:&nbsp;&nbsp;
        <input class="form-control" type="text" name="hipovercompressiongarnment" placeholder="Enter measurement value"><br>
        Waist over Body Padding:&nbsp;&nbsp;
        <input class="form-control" type="text" name="waistoverbodypadding" placeholder="Enter measurement value"><br>
        Hip over Body Padding:&nbsp;&nbsp;
        <input class="form-control" type="text" name="hipoverbodypadding" placeholder="Enter measurement value"><br>
        Shoes:&nbsp;&nbsp;
        <input class="form-control" type="text" name="shoes" placeholder="Enter shoe size">

        <br><br>
        <div class="h">
                <input class="btn btn-primary" type="submit" data-toggle="tab" href="#other">
              </div>
        
      </form>
</div>