<!DOCTYPE html>
<head>
<title>
    measure
</title>
<link rel ="stylesheet" 
type="text/css" 
href="find.css" />
</head>
<body class = "body">
      
               <h1>Performer details</h1>
                <p>
                  Last Name
                 <input type="text" id="id1" name="text1"><br><br>
                  First Name
                 <input type="text" id="id2" name="text2"> <br><br>
                  Character Name
                 <input type="text" id="id3" name="text3"> <br><br>
                  Dominant Hand
                 <input type="text" id="id4" name="text3"> <br><br>
                 Shoes
                 <input type="text" id="id5" name="text3"> <br><br>
                 Chest Relaxed
                 <input type="text" id="id6" name="text3"> <br><br>
                 Chest Expanded
                 <input type="text" id="id7" name="text3"> <br><br>
                 Waist Relaxed
                 <input type="text" id="id8" name="text3"> <br><br>
                 Waist Expanded
                 <input type="text" id="id9" name="text3"> <br><br>
                 Inseam to Ankle
                 <input type="text" id="id10" name="text3"> <br><br>
                 Inseam to Floor
                 <input type="text" id="id11" name="text3"> <br><br>
                 Head Circumference
                 <input type="text" id="id12" name="text3"> <br><br>
                 Neck
                 <input type="text" id="id13" name="text3"> <br><br>
                 Armscye
                 <input type="text" id="id14" name="text3"> <br><br>
                 Center Back to Wrist
                 <input type="text" id="id15" name="text3"> <br><br>
                 Full Hip
                 <input type="text" id="id16" name="text3"> <br><br>
                 Half Girth
                 <input type="text" id="id17" name="text3"> <br><br>
                Full Girth
                <input type="text" id="id18" name="text3"> <br><br>
               <button onclick="myFunction1()">Submit</button>
               </p>
             
              

</body> 
</html>             


