<!DOCTYPE html>
<html>
<head>
  <head>
  
 <link rel="stylesheet" href="/css/bootstrap.css" />
 <link rel="stylesheet" href="/css/style.css" />
 <link rel ="stylesheet" type="text/css" href="/css/login.css"/> 

</head>

<body>


<img src="/css/pwd.png" class="img-responsive" alt="Cinque Terre" width="200" height="200"> 

<div class="container">

    <form action="forgotPassword">
        <label for="username"><b>Enter Registered email address</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
        <button type="submit" class="registerbtn">Submit</button>
    </form>
    <div class="container signin">
         <a href="/users/login">Back to Sign in</a>
      </div>

</div>

</body>

</html>