<% include header %>
<head>
  

<link rel ="stylesheet" 
type="text/css" 
href="/css/Rental.css"  />

</head>
<body>    
        <br>         
       <h2>Costume Rental Form</h2>
                      
                        <div class="container">
                           <form method="post" action="/RentalController/rental1" >
                              
 
                                    <div class="row">
                                                <div class="col-25">
                                                  <label for="name">Name</label>
                                                </div>
                                                <div class="col-75">
                                                  <input type="text" id="D" name="firstname" placeholder="Enter name..">
                                                </div>
                                              </div>
                                             <div class="row">
                                                <div class="col-25">
                                                  <label for="Phone Number">Phone Number</label>
                                                </div>
                                                <div class="col-75">
                                                  <input type="text" id="D" name="phn" placeholder="Enter phone number..">
                                                </div>
                                                 </div>
                                                 <div class="row">
                                                            <div class="col-25">
                                                              <label for="Email id">Email id</label>
                                                            </div>
                                                            <div class="col-75">
                                                              <input type="text" id="D" name="mail" placeholder="Enter email id..">
                                                            </div>
                                                             </div>
                            <div class="row">
                              <div class="col-25">
                                <label for="Rental Start Date">Rental Start Date</label>
                                
                              </div>
                              
                              <div class="col-75">
                               <input type="date" id="D" placeholder="Enter Start Date" name="Date1">
                              </div>
                        </div>
                              <div class="row">
                              <div class="col-25">
                                <label for="Rental Due Date">Rental Due Date</label>
                              </div>
                              <div class="col-75">
                                          <input type="date" id="D" placeholder="Enter Due Date" name="Date2">
                              </div>
                        </div>
                          
                                        <div class="row">
                                                <div class="col-25">
                                                <label for="Rental fee">Rental fee</label>
                                                </div>
                                                <div class="col-75">
                                                <input type="text" id="D" name="fee" placeholder="Enter Rental fee..">
                                                </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-25">
                                                <label for="Deposit">Deposit </label>
                                         </div>
                                                <div class="col-75">
                                                <input type="text" id="D" name="amt" placeholder="Enter deposit fee..">
                                                </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-25">
                                                <label for="Date Returned "> Date Returned</label>
                                        </div>
                                                <div class="col-75">
                                                 <input type="text" id="D" name="rtn" placeholder="Enter Date Returned ..">
                                                </div>
                                        </div>
                                        <div class="row">
                                                 <div class="col-25">
                                                 <label for="Additional Charges "> Additional Charges</label>
                                        </div>
                                                <div class="col-75">
                                                 <input type="text" id="D" name="charges" placeholder="Enter Additional Charges ..">
                                                 </div>
                                         </div>
                                         
                                         <br>
                            <div class="row">
                              <input type="submit" value="Submit">
                            </div>
                          </form>
                        </div>
                        
                        </body>
                        </html>
       
                  
              </body>