<% include header %>
<head>
  

<link rel ="stylesheet" 
type="text/css" 
href="Rental.css"  />

</head>
<body>

        <div class="container">
                
              <h2>Costume Rental Form</h2>
              

                     <form action="rental" method="post">
                    <label for="Rental Start Date">Rental Start Date:</label>
                    <input type="date" id="D" placeholder="Enter Start Date" name="Date1">
                    <label for="Rental Due Date">Rental Due Date:</label>
                    <input type="date" id="D" placeholder="Enter Due Date" name="Date2">
                    <h4>Rental Information</h4>
                    Contact Name:
                    <input type="text" name="firstname"><br>
                    Phone Number:
                    <input type="text" name="phn"><br>
                    Email:
                    <input type="text" name="mail"><br>
                    Studio:
                    <input type="text" name="std"><br>
                    Print Name:
                    <input type="text" name="prnt"><br>
                    Rental Time Requested:
                    <input type="text" name="firstname"><br>
              </form>
            
                                <!-- <form action="sign"> -->
                                        <label for="Signature">Signature:</label>
                                        <input type=" Sign" id="Sign" placeholder="Signature" name="S">
                                        <label for="Date">Date:</label>
                                        <input type="D" id="Da" placeholder="Enter Date" name="t">   
                                        <h4>For Office Use Only</h4>
                                        <label for="Rental Fee">Rental Fee:</label>
                                        <input type=" F" id="fe" placeholder="Rental Fee" name="fee">
                                        <label for="Deposit">Deposit:</label>
                                        <input type="De" id="Dep" placeholder="Enter Deposit Amount" name="amt"></br>
                                        <label for="Date Returned">Date Returned:</label>
                                        <input type=" ret" id="r" placeholder="Enter Return Date" name="rtn"></br>
                                        <label for="Additional Charges">Additional Charges:</label>
                                        <input type="Ad" id="Ac" placeholder="Enter Additional Charges" name="charges">    

</form>

                        
              
        </div>
              </body>