<% include header %>

    
     
    <link rel ="stylesheet" type="text/css" href="/css/Rentallist.css"/> 
   
  
    <body>
        
        <table id="rent">
          <tr>
            <th>Name</th>
            <th>Rented Item</th>
            <th>Rented date</th>
            <th>Return Date</th>
            <th>Rental Fee</th>
          </tr>
    <% for(let i = 0; i < list.length; i++) { %>
    <tr>
      <td><%= list[i].firstname %></td>
    </tr>
    <% } %>
  </table>
