<% include header %>
<head>
  

<link rel ="stylesheet" 
type="text/css" 
href="Rental.css"  />

</head>
<body>

        <div class="container">
                
              <h2>Costume Rental Agreement</h2>
              <p>Please read the terms and conditions carefully</p>

                     <form action="rental">
                    <label for="Rental Start Date">Rental Start Date:</label>
                    <input type="date" id="D" placeholder="Enter Start Date" name="Date">
                    <label for="Rental Due Date">Rental Due Date:</label>
                    <input type="date" id="D" placeholder="Enter Due Date" name="Date2">
                    <h4>Rental Information</h4>
                    Contact Name:
                    <input type="text" name="firstname"><br>
                    Phone Number:
                    <input type="text" name="phn"><br>
                    Email:
                    <input type="text" name="mail"><br>
                    Studio:
                    <input type="text" name="std"><br>
                    Print Name:
                    <input type="text" name="prnt"><br>
                    Rental Time Requested:
                    <input type="text" name="firstname"><br>
              </form>
             <h4> Costume Rental Polices</h4>
             <h6>CLEANING</h6>
             <p>All costume pieces must be returned clean and free of stains and body odour. Anything
                    returned will be assessed and an additional cleaning fee will be charged if required</p>
                   <h6> ALTERATIONS</h6>
                   <p>Costumes may not be altered to fit and must be returned in their original condition. If a costume
                        is returned altered or damaged, fees will be charged.
                        Costumes may NOT be cut, dyed, painted or altered without written permission from Once More
                        From The Top. Tape, iron-on bonding-web, glue or any other type of adhesives may NOT be
                        used on costumes.</p>
                        <h6>DEPOSITS</h6>
                        <p>All rentals require a security deposit. The standard security deposit rate is 30% of the total rental
                        and is to be charged with the rental fee prior to shipping. It and should be be submitted via email
                        transfer will be credited via email transfer when the rental is complete (all items returned in
                        proper condition). </p>
                       <h6> FEES</h6>
                       <p> Our rental fees are determined on a per piece basis. If the rental time exceeds the agreed upon
                        rental period, a charge of 20% of the total rental will be added for each additional week.
                        If additional rescheduling of a rental period is required, please contact Once More From The
                        Top as soon as possible. Rescheduling must be approved for late fees not to occur.</p>
                       <h6> RESTOCKING FEES</h6>
                        <p>Any rental requiring the pulling/shipping of costumes that are cancelled prior to the completion
                        of the rental agreement will have an automatic $40 fee.</p>
                       <h6> DAMAGED OR LOST COSTUME FEES</h6>
                       <p> Normal wear and tear on costumes is expected and won’t incur extra charges. Damage beyond
                        normal wear and tear will incur damage charges above the security depost.
                        Damage charges will be assessed for broken zippers, detached garment pieces, make-up or
                        other permanent stains or any other damage that renders the costume not rentable.
                        It includes the cost of the supplies needed to restore the garment to its original state as well as
                        labor costs.
                        Major damage to costumes, including irreparable tears, or irreversible marks will be assessed at
                        the replacement value of the costume.
                        Lost costumes will be assessed with a lost costume fee of the replacement value of the
                        costume.</p>
                        <form action="Card Details">
                                <label for="Card Type">Card Type:</label>
                                <input type=" Card" id="card" placeholder="Enter Card Type" name="type">
                                <label for="Card Number">Card Number:</label>
                                <input type=" Number" id="Number" placeholder="Enter Card Number" name="Number">
                                <label for="Cvv">Cvv:</label>
                                <input type=" C" id="cv" placeholder="Enter Cvv" name="c">
                                <label for="Expiry Date">Expiry Date:</label>
                                <input type=" Date" id="ex" placeholder="Enter Expiry Date" name="Expiry">
                        </form>
                       <p> Please note the above information only to be used if damage charges above the security
                        deposit are required. Please see our privacy policy for the handling of personal information</p>
                       <h6> RETURN RENTAL DATE</h6>
                       <p> The return date is calculated by your production closing date (or last competition date) plus ten
                        calendar days to allow you cleaning and packaging time. If for any reason you need more time,
                        please inform us within 48hrs prior to your due date so due date late fees will not be charged.</p>
                       <h6> DISCLAIMER</h6>
                        <p>One More From The Top Ltd. and its employees are not responsible for accidents or injuries
                        related directly or indirectly from the use of the rented item.</p>
                        <p>I have read and understand the Costume Rental Policies above and agree to abide by them. I
                                agree to pay damage/replacement charges to Once More From The Top,</p>
                                <form action="sign">
                                        <label for="Signature">Signature:</label>
                                        <input type=" Sign" id="Sign" placeholder="Signature" name="S">
                                        <label for="Date">Date:</label>
                                        <input type="D" id="Da" placeholder="Enter Date" name="t">   
                                        <h4>For Office Use Only</h4>
                                        <label for="Rental Fee">Rental Fee:</label>
                                        <input type=" F" id="fe" placeholder="Rental Fee" name="fee">
                                        <label for="Deposit">Deposit:</label>
                                        <input type="De" id="Dep" placeholder="Enter Deposit Amount" name="amt"></br>
                                        <label for="Date Returned">Date Returned:</label>
                                        <input type=" ret" id="r" placeholder="Enter Return Date" name="rtn"></br>
                                        <label for="Additional Charges">Additional Charges:</label>
                                        <input type="Ad" id="Ac" placeholder="Enter Additional Charges" name="charges">    

</form>

                        
              
        </div>
              </body>