<!DOCTYPE html>
<html>
<head>
  <head>
  
 <link rel="stylesheet" href="/css/bootstrap.css" /> 
 <link rel ="stylesheet" type="text/css" href="/css/login.css"/> 

</head>>

<body>

<div class="container">
    <h1>Reset Password</h1>

    <form method="POST" action="/users/reset/<%= token %>">
        <label for="password"><b>New Password</b></label>
        <input type="text" placeholder="Enter New Pasword" name="password" required>
        <label for="confirm"><b>New Password</b></label>
        <input type="text" placeholder="Confirm New Pasword" name="confirm" required>
        <button type="submit" class="registerbtn">Update Password</button>
    </form>

</div>

</body>

</html>