<div id="upper" class="tab-pane fade in active">
    <form action="#" class="form-group">
      Head Circumference:&nbsp;&nbsp;
      <input class="form-control" type="text" name="headcicumference" placeholder="Enter head Circumference"><br>
      Neck:&nbsp;&nbsp;
      <input class="form-control" type="text" name="neck" placeholder="Enter neck measurement value"><br>
      Armcycle:&nbsp;&nbsp;
      <input class="form-control" type="text" name="armcycle" placeholder="Enter armcycle measurement value"><br>
      Centre Back to Wrist:&nbsp;&nbsp;
      <input class="form-control" type="text" name="centrebacktowrist" placeholder="Enter measurement value"><br>
      Chest Relaxed:&nbsp;&nbsp;
      <input class="form-control" type="text" name="chestrelaxed" placeholder="Enter measurement value"><br>
      Chest Expanded:&nbsp;&nbsp;
      <input class="form-control" type="text" name="chestexpanded" placeholder="Enter measurement value"><br>
      Chest over compression garnment:&nbsp;&nbsp;
      <input class="form-control" type="text" name="chestovercompressiongarnment" placeholder="Enter measurement value"><br>
      Chest over Body Padding:&nbsp;&nbsp;
      <input class="form-control" type="text" name="chestoverbodypadding" placeholder="Enter measurement value">

      <br><br>
      <div class="h">
          <input class="btn btn-primary" type="submit" data-toggle="tab" href="#lower">
        </div>
    </form>
</div>