.body{
    background-image: url("download.jpg");
    background-size:100%;
    background-repeat: no-repeat;
    font-size: 16px;
    font-family: Georgia, serif;
    background-attachment: fixed;
}

.form-group{
    
    margin-right: 590px;
  }
  .b{
      margin-left: 470px;
  }
  .k{
      margin-left: 80px;
  }
  