.body{
    background-image: url("download.jpg");
    background-size:100%;
    background-repeat: no-repeat;
    font-size: 16px;
    font-family: Georgia, serif;
    background-attachment: fixed;
    overflow-x: hidden;
}
/* //add style for base component */
/* mansa start */
.anchor-element {
    cursor: pointer;
}

.info-container {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 580px;
    padding: 20px;
}

.center-align-container {
    max-width: 580px;
    margin: 0 auto;
}

.info-heading {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 20px;
}
.btn-submit{
    text-align: center;
}
.email-input {
    width: 92%;
    float: right;
}

.email-container {
    margin-bottom: 20px;
}
/* manasa end */

 #abc{
    margin-left:400px;
    margin-top:100px;
}
#xyz{
    margin-left:625px;
    margin-top:25px;
    
}

label {
    display: block;
  }
  
  input{
    display:inline;
    }

.form-group{
    
    margin-right: 590px;
  }
  .b{
      margin-left: 470px;
  }
  .k{
      margin-left: 80px;
  }
  img {
    width:80%;
     height: auto;
     margin-left:100px;
     
   }
   #mapy{
    margin-left: 50px;
  }
  #mn{
      margin-left:380px;
  }  