
.body{
  background-image: url("download.jpg");
  
  background-repeat: no-repeat;
  background-size: 100%;
   
  background-attachment: fixed;
  
  font-size: 16px;
  font-family: Georgia, serif;
}


.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.mapouter{text-align:right;
  height:500px;
  width:500px;}
.gmap_canvas {
 overflow:hidden;background:none!important;height:600px;width:800px;
}
 .column {
  float: center;
  width: 33.3%;
 
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 50%;
    display: block;
  }
}


.container {
  padding: 10px 16px;
 
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 40%;
}

.button:hover {
  background-color:white;
}
img {
 width:80%;
  height: auto;
  margin-left:100px;
  
}

#mapy{
  margin-left: 200px;
}
