.body{
    background-image: url("download.jpg");
    background-size:100%;
    background-repeat: no-repeat;
    font-size: 16px;
    font-family: Georgia, serif;
    background-attachment: fixed;
}

p{
    font-size: 26px; 
    font-family: Georgia, serif;
    margin-top:100px;
}

* {
    box-sizing: border-box;
}


form.example input[type=date] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}
img{
    margin-left:400px;
    margin-top: 100px;
}
#move{
        float:left;
    }

