.body{
    background-image: url("download.jpg");
    background-size:100%;
    background-repeat: no-repeat;
    font-size: 16px;
    font-family: Georgia, serif;
}
marquee{
    font-size: 25px;
    color: rgb(14, 12, 12);
    padding-top:290px;
    font-family: Georgia, serif;
} 

.h{
    margin-left: 200px;
}

.form-group{
    margin-left: 0px;
    margin-right: 720px;
  }