.body{
    background-image: url("download.jpg");
    background-size:100%;
    background-repeat: no-repeat;
    font-size: 16px;
    font-family: Georgia, serif;
    background-attachment: fixed;
}
.x{
    float: right;
    margin-right: 10px;
}
/* #rent {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#rent td, #rent th {
    border: 1px solid #ddd;
    padding: 8px;
}

#rent  tr:nth-child(even){background-color: #f2f2f2;}

#rent tr:hover {background-color: #ddd;}

#rent  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(46, 169, 226);
    color: white;
} */
table {
    border-collapse: collapse;
    width: 80%;
    float: center;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {background-color:rgb(245, 239, 239);}
    h2{
        text-align: center;
        
    }