.body{
    /* background-image: url("download.jpg");
    background-size:100%;
    background-repeat: no-repeat; */
    font-size: 18px;
    font-family: Georgia, serif;
    background-attachment: fixed;
}
/* #rent {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#rent td, #rent th {
    border: 1px solid #ddd;
    padding: 8px;
}

#rent  tr:nth-child(even){background-color: #f2f2f2;}

#rent tr:hover {background-color: #ddd;}

#rent  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(46, 169, 226);
    color: white;
} */
table {
    border-collapse: collapse;
    width: 90%;
}

th, td {
    padding: 8px;
    text-align: left;
  
}

.x{
    float: center;
    margin-left: 640px;
  
}
h2{
    text-align: center;
    
}
#abc{
    margin-bottom:1100px;
}